@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: all 0.25s linear;
}

:root {
  --background: #ffffff;
  --foreground: #000000;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.bg {
  background: url('/bg-desktop-light.jpg') no-repeat;
  background-size: cover;
  height: 18.75rem;
}

@media only screen and (max-width: 470px) {
  .bg {
    background: url('/bg-mobile-light.jpg') no-repeat;
    background-size: cover;
    height: 12.5rem;
  }

  html[data-theme='dark'] {
    .bg {
      background: url('/bg-mobile-dark.jpg') no-repeat !important;
      background-size: cover !important;
      height: 12.5rem !important;
    }
  }
}

html[data-theme='dark'] {
  --background: #181824;
  --foreground: hsl(0, 0%, 98%);

  .bg {
    background: url('/bg-desktop-dark.jpg') no-repeat;
    background-size: cover;
    height: 18.75rem;
  }
}
